body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#csh-map {
  width: 100%;
  height: 100%;
  z-index: 0;
}

#csh-map-canvas > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.csh-map-info-window ul {
  padding: 0;
}

.csh-map-info-window ul li {
  list-style-type: none;
}

#csh-map-toolbar {
  margin: 6px;
}

#csh-map-toolbar .navbar {
  border-radius: 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

#csh-map-alert {
  margin: 6px;
}

#csh-map-alert .alert {
  transform: translateZ(1px);
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
}

#csh-map-search-results {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100px;
  overflow-y: scroll;
  padding-top: 3px;
}

#csh-map-search-results .result {
  display: block;
  width: 100%;
  padding-left: 3px;
  padding-right: 3px;
  color: #333;
  text-decoration: none;
}

#csh-map-search-results .result:link, #csh-map-search-results .result:visited {
  text-decoration: none;
}

#csh-map-search-results .no-result {
  color: #ccc;
  text-align: center;
}

#csh-map-search-results .result:nth-child(even) {
  background-color: #eee;
}

#csh-map-search-results .result:hover, #csh-map-search-results .result:active {
  background-color: #d9edf7;
  cursor: pointer;
  text-decoration: none;
}
