body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#csh-map, {
  width: 100%;
  height: 100%;
}

#csh-map-canvas > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.csh-map-info-window ul {
  padding: 0;
}

.csh-map-info-window ul li {
  list-style-type: none;
}

#csh-map-toolbar {
  margin: 6px;
}

#csh-map-toolbar .navbar {
  border-radius: 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
}
