<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= cn %>'s Location</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control city-input" value="<%= city %>" placeholder="Rochester" autocomplete="false">
          </div>
          <div class="form-group">
            <label>State/Province</label>
            <input type="text" class="form-control state-input" value="<%= state %>" placeholder="NY" autocomplete="false">
          </div>
          <div class="form-group">
            <label>Country</label>
            <input type="text" class="form-control country-input" value="<%= country %>" placeholder="USA" autocomplete="false">
          </div>
          <div class="form-group">
            <label>Reason</label>
            <select class="form-control reason-input">
              <% _.each(map.get('reasons').toJSON(), function(reason) { %>
                <option value="<%= reason.id %>" data-description="<%= reason.description %>"><%= reason.name %></option>
              <% }); %>
            </select>
          </div>
        </form>
        <button class="btn btn-link remove-button">Remove My Address from Map</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary submit-button">Update</button>
      </div>
    </div>
  </div>
</div>
