<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">My Location</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="csh-map-info-city">City</label>
            <input type="text" class="form-control" id="csh-map-info-city" placeholder="Rochester">
          </div>
          <div class="form-group">
            <label for="csh-map-info-state">State/Province</label>
            <input type="text" class="form-control" id="csh-map-info-state" placeholder="NY">
          </div>
          <div class="form-group">
            <label for="csh-map-info-country">Country</label>
            <input type="text" class="form-control" id="csh-map-info-country" placeholder="USA">
          </div>
        </form>
        <button class="btn btn-link remove-button">Remove My Address from Map</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary submit-button">Update</button>
      </div>
    </div>
  </div>
</div>
