<div class="form-group">
  <label for="csh-map-search-type">Search by:</label><br>
  <div class="btn-group" role="group" aria-label="search-type">
    <% Object.keys(types).forEach(function(type) { %>
    <button type="button"
            class="btn csh-map-search-type-btn <% if (activeType === types[type]) { %>btn-primary<% } else { %> btn-default <% } %>"
            data-value="<%= types[type] %>">
      <%= types[type] %>
    </button>
    <% }); %>
  </div>
</div>
<div class="form-group">
  <input type="text" class="form-control" id="csh-map-search-input" placeholder="Search" autocomplete="false" value="<%= query %>"/>
</div>
<div id="csh-map-search-results"></div>
