<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Search</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="csh-map-search-type">Type</label>
            <select class="form-control" id="csh-map-search-type">
              <option value="cn">Name</option>
              <option value="uid">Username</option>
              <option value="location">Location</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Search</label>
            <input type="text" class="form-control" id="csh-map-search-input" placeholder="Search">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary submit-button">Go!</button>
      </div>
    </div>
  </div>
</div>
